* {
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.dialog-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #777;
}

.dialog {
  background-color: #fff;
  max-height: 500px;
  max-width: 350px;

  &__header {
    display: flex;
    background-color: #ddd;
  }

  &__header-title-container {
    max-width: 66%;
  }

  &__header-title {
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
  }

  &__header-button {
    white-space: nowrap;
  }

  &__content {
    display: flex;
    max-height: 300px;
  }

  &__content-block {
    &_left {
      width: 30%;
      border-right: 1px solid #ccc;
    }

    &_right {
      width: 70%;
      overflow: auto;
    }
  }

  &__footer {
    text-align: center;
    overflow-wrap: break-word;
    background-color: #ddd;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 500px;
  width: 100%;
}
